@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&family=Raleway:ital,wght@1,100&family=Rampart+One&display=swap");

body {
  /* font-family: "Raleway", sans-serif;
   */
  padding: 0;
  margin: 0;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5d3b3;
  position: sticky;
  width: 100%;
  box-shadow: 0px 5px 15px;
  top: 0;
  z-index: 1000;
}

.NavItem {
  display: flex;
  list-style-type: none;
  padding: 0 10px;
  font-size: 18px;
}

.listItem {
  text-decoration: brown;
  color: brown;
  padding: 0 10px;
  font-weight: bold;
}

.listItem:hover {
  text-decoration: underline;
  color: brown;
}

.active {
  text-decoration: underline;
  color: brown;
}

.listItem i:hover {
  font-size: 20px;
}

.logo {
  color: brown;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 30px;
  font-size: 20px;
}

.logo a {
  color: #a3825b;
  text-align: center;
  text-shadow: 6px 4px 7px rgba(24, 17, 8, 0.25);
  font-family: Irish grover;
  -webkit-text-fill-color: #a3825b; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: brown;
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.198px;
}

.search {
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  border: none;
}
.hero-image {
  background-image: url("lampsheader.jpg");
  background-size: cover;
  height: 300px;
  padding: 10px;
}
.hero-image p {
  color: #111;
  width: 100px;
  margin: 50px;
}
.hero-image h1 {
  color: brown;
  font-size: 50px;
  width: 200px;
  margin: 50px;
  padding-left: 20px;
}
h3 {
  width: 500px;
  margin-left: 30px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.products {
  display: flex;
  justify-content: space-between;
}
.heel1 {
  border-radius: 5px;
  box-shadow: 1px 2px 3px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 20px;
  width: 280px;
  height: 440px;
}
.heel1:hover {
  box-shadow: 2px 3px 4px;
}
.heel1 img {
  width: 280px;
  height: 280px;
  border-radius: 5px;
}
.heel1 i {
  color: orange;
}
.cart {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  background-color: #e5d3b3;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 3px;
}
.cart:hover {
  box-shadow: 0px 1px 2px;
}
.heel1 .fa-cart-shopping {
  color: #111;
}
.heel1 h6 {
  font-size: 15px;
  margin-bottom: 5px;
}
.footerContainer {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
}
footer {
  font-family: "Raleway", sans-serif;
  padding: 20px;
  margin-top: 20px;
  background-color: #111;
}
.socialicons {
  display: flex;
  justify-content: center;
}
.socialicons a {
  text-decoration: none;
  padding: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 50%;
}

.socialicons a i {
  font-size: 1em;
  color: black;
  opacity: 0.9;
}

.footernav {
  margin: 30px;
}

.footernav ul {
  display: flex;
  justify-content: center;
}

.footernav ul li a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  padding-bottom: 20px;
}

.footerlist:hover {
  color: pink;
}

.footermain p {
  width: 300px;
  margin-left: 450px;
  color: white;
}
